<h4>Book was successfully created</h4>

<h4>Title:<span><%= @book.title %></span></h4>

<h4>Body:<span><%= @book.body %></span></h4>

<%= link_to 'edit', '' %>
<%= link_to 'Back', 'http://localhost:3000/books/new/' %>
